body {
    font-family: 'Roboto', sans-serif;
}

.Principal {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin-top: -30px;
    padding: 20px;
    width: 1200px;
    height: 1300px;
    margin-left: 60px;
}

.Derecha {

    padding-top: 35px;
    width: 500px;
    height: 500px;
    margin: 5px;
     
}

.bordes {
    border: 1px groove rgb(184, 183, 183);
    border-radius: 20px;
}



.Izquierda {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    width: 700px;
    margin: 10px;
    padding: 20px;
    height: 1200px;
}


.uno {
    display: flex;
    text-align: start;
    flex-direction: column;
    padding: 20px;
    height: 200px;
}

.unos {
    margin-left: 20px;
    color: #FF3F00;
    font-size: 25px;
}



.hboton:hover {

    background-color: rgb(239, 237, 237);
    border-color: #FF3F00;
}

.uno input {

    height: 50px;

}

.uno input:focus {
    border-color: #FF3F00;

}

.dos {
    display: flex;
    text-align: start;
    flex-direction: column;

    padding: 20px;
}


.productos {
    width: 580px;
    height: 150px;


}


.tres {
    display: flex;
    text-align: start;
    flex-direction: column;

    padding: 20px;
}


.cuatro {
    display: flex;
    text-align: start;
    flex-direction: column;
    border: 2px solid gray;
    padding: 20px;
}



.pagos {

    display: flex;
    width: 100%;
    align-items: center;


}

@media only screen and (max-width: 1024px){
    .Principal {
        flex-wrap: wrap-reverse;
        height: 2100px;
        width: 100%;
        padding: 0px;
        margin: 0px;
        margin-left: 0px;
        margin-top: -130px;
    }

    .Derecha {
        padding-top: 0px;
        width: 90%;
    }

    .Izquierda {
        width: 100%;
    }

    .productos {
        width: 100%;
        flex-wrap: wrap;
        height: 200px;
    }

    .tres {

        width: 100%;
    }

    .pagos {
        display: flex;
        flex-direction: column;
        margin: 2px;

    }


}

@media only screen and (max-width: 768px) {
    .Principal {
        flex-wrap: wrap-reverse;
        height: 2100px;
        width: 100%;
        padding: 0px;
        margin: 0px;
        margin-left: 0px;
    }

    .Derecha {
        padding-top: 0px;
        width: 90%;
    }
     

    .Izquierda {
        width: 100%;
    }

    .productos {
        width: 100%;
        flex-wrap: wrap;
        height: 300px;
    }

    .tres {

        width: 100%;
    }

    .pagos {
        display: flex;
        flex-direction: column;
        margin: 2px;

    }


}

@media only screen and (max-width: 320px) {
    .Principal {
        flex-wrap: wrap-reverse;
        height: 100%;
        width: 100%;
    }

    .Izquierda {
        height: 100%;
        width: 100%;
    }
    .productos{
        width: 100%;
        
    }
    .productos p{
       width: 90%;
    }
    .tres {

        width: 100%;
    }
}